.payment-form form input{
	height: 35px;
    min-width: 200px;
    width: 30vw;
	  margin: 15px;
    padding: 10px;
    display: block;
    /* background-color: #e29ae2;
    border: solid 1px #ffb2ff; */
}

.payment_column {
    float: left;
    padding: 20px;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .payment_row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .payment_row p {
    font-size: 1.5rem;
  }
  
  @media screen and (max-width: 700px) {
    .payment_column {
      width: 100%;
    }
  }


  .payment_column .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    color: black;
  }

  .payment_column .container h2 {
    /* float: left; */
    font-size: 15px;
    text-align: left;
  }

  .payment_column .container p {
    /* float: left; */
    font-size: 15px;
    text-align: left;
  }

  hr {
    display: block;
  }

  span.price {
    float: right;
    color: grey;
  }

.custom-register {
    background-color: #0f131a;
    text-align: left;
    height: 80vh;
    min-height: 600px;
}

.register-prompt {
    margin: 20px;
    height: auto;
}

.custom-form-control {
    width: 100%;
}