.user-info-modal .rs-form:not(.rs-form-inline) .rs-form-group:not(:last-child) {
    margin-bottom: 0px;
}

.user-info-modal .rs-form-horizontal .rs-form-group .rs-control-label {
    margin-top: 16px
}

.user-info-modal .rs-form-horizontal .rs-form-group .rs-picker-date, .rs-picker-select {
    margin: 15px
}

.blog-editor-modal .rs-form:not(.rs-form-inline) .rs-form-group:not(:last-child) {
    margin-bottom: 0px;

}

.blog-editor-modal .rs-form-horizontal .rs-form-group .rs-control-label {
    margin-top: 16px
}

.blog-editor-modal .rs-form-horizontal .rs-form-group .rs-picker-date, .rs-picker-select, textarea, .rs-picker-input {
    margin: 15px;
    width: 100%;
}

.blog-editor-modal .rs-form-horizontal .rs-form-group .rs-picker-input {
    height: 36px;
}

.blog-editor-modal .rs-form-horizontal .rs-form-group .rs-form-control-wrapper {
    width: 70%;
}

.blog-editor-modal .rs-form-control-wrapper > .rs-input-number, .rs-form-control-wrapper > .rs-input {
    width: 100%;
}