.test-recognition p {
    color: white
}

.about-screen-enter {
    margin-bottom: -100%;
    overflow: hidden;
}

.about-screen-enter-active {
    margin-bottom: 0px;
    transition-delay: 500ms;
    transition: all 1000ms;
}


.about-screen-long-enter {
    margin-bottom: -100%;
    overflow: hidden;
}

.about-screen-long-enter-active {
    margin-bottom: 0px;
    transition-delay: 500ms;
    transition: all 1000ms;
}

.about-screen-exit {
    opacity: 1;
}

.about-screen-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}