.test-recognition p {
    color: white
}

.about-screen-enter {
    height: 0px;
    overflow-y: hidden;
}

.about-screen-enter-active {
    height: 1000px;
    transition: height 1000ms;
}

.about-screen-exit {
    opacity: 1;
}

.about-screen-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}