.custom-register {
    background-color: #0f131a;
    text-align: left;
    height: 80vh;
    min-height: 600px;
}

.register-prompt {
    margin: 20px;
    height: auto;
}

.custom-form-control {
    width: 100%;
}