.custom-login {
    background-color: #0f131a;
    text-align: left;
    min-height: 560px;
    height: 80vh;
}

.login-prompt {
    margin: 20px;
    height: auto;
}

.custom-form-control {
    width: 100%;
}