/* .user-profile-info p, h1, h2, h3, h4, h5, h6 {
    text-align: left;
} */

.user-profile-info {
    text-align: left;
}

.user-profile-info .rs-input {
    margin: 0px 0px
}
/* 
.user-profile-info > .rs-form .rs-form-group {
    min-width: 100%;
} */

.user-profile-info > .rs-form .rs-form-control-wrapper {
    min-width: 75%;
}